<IfModule mod_rewrite.c>
  RewriteEngine On

  # Check if browser supports WebP images
  RewriteCond %{HTTP_ACCEPT} image/webp

  # Check if WebP replacement image exists
  RewriteCond %{DOCUMENT_ROOT}/$1.webp -f

  # Serve WebP image instead
  RewriteRule (.+)\.(jpe?g|png)$ $1.webp [T=image/webp,E=accept:1]
</IfModule>

<IfModule mod_headers.c>
  Header append Vary Accept env=REDIRECT_accept
</IfModule>

<IfModule mod_mime.c>
  AddType image/webp .webp
</IfModule>


<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpeg "access plus 2 month"
  ExpiresByType image/png "access plus 2 month"
  ExpiresByType image/x-icon "access plus 6 month"
  ExpiresByType text/css "access plus 1 weeks"
  ExpiresByType text/javascript "access plus 1 weeks"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType image/webp "access plus 1 month"
  ExpiresByType font/truetype "access plus 3 month"
  ExpiresByType font/opentype "access plus 3 month"
  ExpiresByType image/gif "access plus 2 month"
</IfModule>


# Block Cloud & some spider
order allow,deny
allow from all
deny from googleusercontent.com
deny from amazonaws.com
deny from wvd.microsoft.com
deny from sogou.com
deny from baidu.com