.animebuttonlite {
    display: inline-block;
    padding: 5px 15px;
    background-image: linear-gradient(to right, transparent 0%, transparent 50%, #888888 50%, #888888 100%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: all .5s ease;
    text-align: center;
    border: solid 1px #888888;
}
.animebuttonlite::after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    right: 20px;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
}
.animebuttonlite:hover {
    color: #ffffff;
    background-position: -100% 0;
    text-shadow: 0px 0px 10px #ffffff;
    border: solid 1px #888888;
}