.top {
    text-align: center;
    padding: 50px 0;
}
.top > img {
    width: 50%;
}
.messages {
    text-align: center;
}
.button {
    text-align: center;
    margin: 40px 0;
}
.button > a {
    padding: 10px 25px;
    border-radius: 10px;
    color: #ffffff;
    background: linear-gradient(35deg, #0066ff, #00398f);
}