.topright {
    width: 100%;
}
.toprightline {
    width: 100%;
    margin-top: 15vw;
}
.toprightimg {
    position: absolute;
    top: 5vw;
    right: 10%;
}
.toprightimg > img {
    width: 25vw;
    height: auto;
}
.top {
    position: relative;
    margin-top: 40px;
}
.top > img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    user-select: none;
}
.top > .toptext {
    position: absolute;
    left: calc(10% - 35px);
    bottom: calc(20vh - 15px);
    padding: 15px 35px;
}
.toptext > .toptitle {
    font-size: 100px;
    font-weight: bold;
    color: #e5e5e5;
    text-shadow: 0 0 15px #000000;
}
.toptext > .topline {
    height: 3px;
    background: #242527;
    text-shadow: 0 0 10px #242527;
    border: 0;
    width: 100%;
}
.toptext > .topcatch {
    color: #e5e5e5;
    font-size: 30px;
    text-shadow: 0 0 7px #000000;
}
.topmargin {
    margin-top: 50px;
}
.download {
    text-align: center;
}
.downloadbutton {
    margin-top: 50px;
}
.downloadbutton > a {
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    background: linear-gradient(35deg, #0066ff, #00398f);
}
.downloadbutton > a > img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: 5px;
}