.cannotview {
    display: none;
  }
  .view {
    display: block;
  }
  body {
    background: linear-gradient(#000b1a 20%, #23344a);
    width: 100%;
  }
  .header {
    background: #000b1a50;
    backdrop-filter: blur(5px);
    z-index: 3;
  }
  .headermenu>nav>ul>div>li>a{
    color: #ffffff;
    transition: all 0.3s;
  }
  .headermenu>nav>ul>div>li>a:hover {
    text-shadow: 0px 0px 10px #ffffff, 0px 0px 10px #ffffff;
  }
  .headerimg>a>img {
    width: 110px;
  }
  .top {
    position: relative;
    color: #ffffff;
    margin: 50px 10%;
  }
  .topleft {
    position: relative;
    top: 100px;
    z-index: 2;
    width: 35vw;
  }
  span.title {
    font-size: 30px;
    font-weight: bold;
    background: transparent;
    backdrop-filter: blur(5px);
  }
  .topleft>.animebutton {
    color: #ffffff;
    background: #88888850;
    margin-top: 30px;
  }
  .topright {
    position: relative;
    top: -150px;
    margin: 0 0 0 auto;
    padding: 5px;
    width: 45vw;
    height: 400px;
    background: #252525;
    border-radius: 10px;
    border: 1px solid #888888;
  }
  span.command, div.command>span {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
  }
  .footer {
    background: #44444450;
    backdrop-filter: blur(5px);
  }
  .result {
    margin-left: 1.5em;
  }
  .howtouse {
      padding: 50px 5%;
      background: #88888810;
      backdrop-filter: blur(10px);
      height: 200px;
  }
  .howtouse img {
      width: 15%;
      max-width: 200px;
      float: left;
  }
  .textright {
      top: 20px;
      position: relative;
      left: 50px;
      color: #ffffff;
      line-height: 30px;
  }
  .content {
      text-align: center;
      color: #ffffff;
  }
  .titlebig {
      font-size: 40px;
  }
  .download {
      margin-top: 50px;
  }
  .downloadbutton {
      padding: 30px;
      color: #ffffff;
      background-color: #2996f050;
      backdrop-filter: blur(5px);
  }
  .downloadbutton:hover, .button:hover {
      background-color: #2083d450;
  }
  .downloadbutton img {
      width: 30px;
      margin-right: 20px;
      position: relative;
      top: 5px;
  }
  .bigtitle {
      font-size: 45px;
      text-align: center;
  }
  .lisence {
      margin: 50px 5%;
      color: #ffffff;
  }
  .support {
      padding: 20px 5%;
      background: #88888810;
      backdrop-filter: blur(10px);
      color: #ffffff;
  }
  .buttonall {
      margin: 20px 0;
  }
  .button {
      padding: 10px 15px;
      background: #2996f050;
      color: #ffffff;
  }
  .history {
      margin: 30px 5%;
      color: #ffffff;
  }
  .historyblock {
      margin-top: 20px;
  }
  .date {
      font-size: 20px;
      margin: 0 40px;
      padding: 20px;
      width: 140px;
      height: 30px;
      transform: skewX(-25deg);
      background: #0d3061;
      z-index: 1;
  }
  .version {
      background: #000b1a50;
      padding: 20px 30px 20px 100px;
      width: 40%;
      height: 40px;
      font-size: 25px;
      border-radius: 5px;
      margin-top: -50px;
      margin-left: 150px;
  }
  
  @media screen and (max-width:765px) {
      nav.responsivelist {
          background-color: #000b1a50;
      }
      .responsivelist>ul>li>a {
          color: #ffffff;
      }
      .responsivelist>ul>li {
          background-color: transparent;
          backdrop-filter: blur(5px);
      }
      .topleft, .topright {
          width: 100%;
      }
      .topright {
          margin-top: 300px;
          font-size: 15px;
      }
      span.command, #commandresult {
          font-size: 15px;
      }
      .howtouse {
          height: 500px;
          text-align: center;
      }
      .howtouse>img {
          float: none;
          width: 50%;
      }
      .textright {
          left: 0;
          width: 100%;
      }
      .buttonall > br {
          display: block !important;
      }
      .buttonall > .button:last-child {
          margin-left: 0 !important;
      }
      .version {
          margin-left: 40px;
          margin-top: 0px;
          padding: 20px;
          width: 70%;
          height: 70px;
      }
  }