* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #cccccc;
}
.membersname {
    background-image: url(background.png);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}
.membersnametext {
    margin-left: 10%;
}
.name {
    font-size: 50px;
    font-family: '游明朝', serif;
    padding-top: 150px;
}
.nameeng {
    font-size: 20px;
    font-family: '游明朝', serif;
}
.mail {
    font-size: 25px;
    font-family: '游明朝', serif;
    margin-top: 20px;
}
.about {
    position: relative;
}
.title2 {
    font-size: 25px;
}
.position, .projects, .sns {
    margin: 30px 5% 0 5%;
}
.positioncontent, .projectscontent, .snscontent {
    margin-top: 15px;
    display: inline-block;
}
.positioncontent span, .projectscontent span, .snscontent span {
    padding: 5px 10px;
    font-size: 18px;
}
.chairman {
    background-color: #2ecc7c;
}
.vice-chairman {
    background-color: #2ecc7c;
}
.exective {
    background-color: #f1c40f;
}
.development, .publicrelations, .generalaffairs, .humanresources {
    background-color: #979c9f;
}
.sns {
    margin-top: 30px;
}
.server {
    background-color: #276bd8;
    color: #ffffff;
}
.blog {
    background-color: #47a9cc;
}
.socialicon {
    height: 20px;
}
.twitter {
    background-color: #1da1f2
}
.github {
    background-color: #24292e;
    color: #ffffff;
}