 /*言語ぼたん　フッター*/
 .btn-Jp-or-Eng {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
    width: 200px;
    position: relative;
    text-transform: uppercase;
    border: 1px solid transparent;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
  }
  
  .btn-Jp-or-Eng:hover {
    border-color: #FFF;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: transparent;
    outline-offset: 12px;
    text-shadow: 2px 2px 3px #000;
  }

   /*言語ぼたん　ヘッダー wallpaper*/
   .wallpaper-btm {
  display: inline-block;
  max-width: 180px;
  text-align: left;
   font-size: 16px;
  color: #ff019e;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}
