  /* フッター設定*/
  footer{
    position: absolute;
    bottom: 0; 
    background: rgba(51, 51, 51,0.5);
    color:#fff;
    height: 470px;
    width: 100%;
   }
  
  
   #footer-list{
    margin-top: 33px;
    margin-right: 100px;
    list-style: none;}
   
  
  
    #footer-list section{
    max-width: 1200px;margin: 0px auto; 
    }
  
    #c1{
    width: unset;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    }
  
  
    #c1 li{
      padding: 5px 0px;
    }
  
    .footer-img{
    width: 64px;
    height:64px;
    }
  
    .footer-img-2{
      width: 177px;
      height: auto;
    }
  
    #c1 address{
    text-align: center;
    font-size: 10px;
    }
  
    #c1 span {
    position: absolute;
    height: 50px;
    line-height: 55px;
    padding: 5px 10px;
    text-decoration: none;
    } 
    #c1 span:hover{
    color: #ffffff;} 

    #footer-list ul{
    display: block;
    list-style: none;
    padding-inline-start: 0;
    }
  
    #footer-list li a  {
      color: #ffffff;
      position: relative;
      display: inline-block;
      text-decoration: none;
    }
    #footer-list .aa a::after  {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: '';
      width: 100%;
      height: 1px;
      background: #008fc7;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform .3s;
    }
    #footer-list li a:hover::after{
      transform: scale(1, 1);
    }

    #end li{
    display: inline-block;
    }
  
    #end ul a{
      padding: 0 24px 4px 0;
      text-decoration: none;
      color: #ffffff;
      }
  
      #end ul a:hover{
        text-decoration: none;;}
  
        .footer-pageTop {
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          border-radius: 4px;
          padding: 4px;
          background: rgb(51, 51, 51);
          border: 1px solid  #008fc7;
          color: #fff;
          }
         
        @media all and (-ms-high-contrast: none) {
          footer{
            position: static;
            }
          .footer-pageTop {
          position:fixed;
          top: 80%;
          margin-left: 40%;
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          border-radius: 4px;
          padding: 4px;
          background: rgb(51, 51, 51);
          border: 1px solid  #008fc7;
          color: #fff;
          }
        }

  /*スマホ*/
@media only screen and (max-width: 640px){
  footer{
   height:1000px;
   }
   #footer-list {
    margin-right: 0;}
   #c1{
  display: inline-block;}
  #footer-list section {
   text-align: center;}
   #c1 .s {
    margin-right: 120px;}

   }